.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: auto;
}
.input{
  margin: 10px 15px 10px 15px;
  border: 1px solid aliceblue;
  border-radius: 10px;
}
.center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.buttonViewResult {
  background: transparent;
  border: 0.1px solid aliceblue;
  padding: 7px;
  border-radius: 10px;
}

.headingText{
  font-size: 12px;
  margin-top: 19px;
}
