<ion-header>
  <ion-toolbar>
    <ion-title>Export PDF and CSV</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="heading">
    <h5>Fill in the details !</h5>
    <p class="headingText" (click)="clearValues()" >Clear All</p>
  </div>
  <ion-list>
    <ion-item class="input">
      <ion-label position="floating">First Name</ion-label>
      <ion-input placeholder="First Name" [(ngModel)]="information.firstName"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input placeholder="Last Name" [(ngModel)]="information.lastName"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Username</ion-label>
      <ion-input placeholder="Username" [(ngModel)]="information.username"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Email" [(ngModel)]="information.email"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Gender</ion-label>
      <ion-input placeholder="Gender" [(ngModel)]="information.gender"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="tel" placeholder="Phone" [(ngModel)]="information.phone"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-label position="floating">Hobbies</ion-label>
      <ion-input placeholder="Hobbies" [(ngModel)]="information.hobbies"></ion-input>
    </ion-item>
  </ion-list>
  <div class="center">
     <ion-text class="buttonViewResult" (click)="navigateToViewPdf()">View Pdf</ion-text>
    <!-- <ion-text class="buttonViewResult"  (click)="exportCsv()">Export as CSV</ion-text> -->
  </div>
</ion-content>

